.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-controls {
  display: flex;
  align-items: center;
  gap: 2.8125rem;

  &__cart-button, &__favourite-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .counter {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-background-secondary);
      font-size: var(--links-font-size);
      font-weight: var(--counter-font-weight);
      top: -0.505rem;
      right: -0.505rem;
      background-color: var(--color-accent-primary);
      border-radius: 50%;
      width: 1.125rem;
      height: 1.125rem;
    }
  }
}

