@import './utils';

@media (min-width: 365px) {
  body {
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section__container {
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 399px);
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .social-networks__item {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer-nav {
      @include visually-hidden;
    }
  }
}

@media (min-width: 768px) {

  .section__container {
    max-width: 742px;
    gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fill, 350px);
  }

  .footer {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--color-background-secondary);
    padding: 1.8125rem;
    border-top-left-radius: 1.875rem;
    border-top-right-radius: 1.875rem;
    font-size: var(--text-font-size);
    margin-top: 1.25rem;

    .footer-nav {
      @include visually-visible;
    }

    .footer-nav, .footer-nav__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .social-networks {
      display: flex;
      justify-content: end;
      gap: 1.125rem;
      align-items: center;
    }
  }
}

@media (min-width: 1200px) {

  .main {
    width: 100%;
  }

  .section__container {
    max-width: 1440px;
    width: 100%;
  }

}